.advantages {
    padding: 70px 0 80px 0;
    background-color: #f6f6f6;
    &__wrapper {
        margin-top: 65px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__item {
        width: 245px;
        img {
            display: block;
            margin: 0 auto;
        }
    }
    &__title {
        margin-top: 38px;
        font-size: 18px;
    }
    &__text {
        margin-top: 25px;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        color: #0d0d0d;
    }
    &__link {
        color: $main-color;
        &:hover {
            color: $main-color;
        }
    }
}
